@media (max-width: 1750px) {
    .banner_info-sub {
        left: -25px;
    }
}

@media (max-width: 1530px) {
    section {
        margin-top: 80px;
    }

    .arrow {
        width: 40px;
        height: 40px;
    }

    .caption .arrow {
        transform: scale(.75) rotate(180deg);
    }

    .banner_slider_container {
        height: 760px;
    }

    .banner_slider-item {
        height: 760px;
    }

    .banner_info h2 {
        font-size: 35px;
    }

    .banner_info-sub {
        width: 755px;
        height: 420px;
        top: 240px;
    }

    .banner_slider-switch {
        bottom: 140px;
    }

    .advantages_slider {
        max-width: 990px;
    }

    .products .tab_content {
        background-size: 640px;
    }

    .product_table h5 {
        font-size: 20px;
    }

    .product_table p {
        font-size: 14px;
    }

    .product_table .second_column {
        max-width: 170px;
        font-size: 14px;
    }

    .usage_content p,
    .usage_content-buttons {
        font-size: 14px;
    }

    .partners_slider-nav {
        max-width: 1300px;
    }

    .partners::before {
        left: -30%;
    }

    .partners::after {
        right: -30%;
    }

    .question_content form {
        row-gap: 20px;
    }

    .form_row {
        column-gap: 20px;
    }

    .question_left {
        max-width: 740px;
        margin-bottom: 15px;
    }

    .question_right {
        max-width: 486px;
    }

    .question_right img {
        top: -15px;
    }
}

@media (max-width: 1400px) {
    .caption h2 {
        font-size: 25px;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .caption a {
        font-size: 14px;
    }

    .service_content-slider {
        height: 495px;
    }

    .service_card.active {
        height: 380px;
        margin-bottom: 30px;
    }

    .service_card.show {
        margin-bottom: 30px;
    }

    .service_card h3 {
        font-size: 20px;
    }

    .service_card-text {
        height: 160px;
    }

    .service_card-text > div {
        font-size: 14px;
    }

    .service_advantages li {
        font-size: 14px;
    }
}

@media (max-width: 1200px) {
    .advantages_slider {
        max-width: 900px;
    }

    .service_content {
        flex-direction: column;
        row-gap: 30px;
        margin-top: 30px;
    }

    .service_content-left {
        max-width: 100%;
    }

    .service_background {
        display: none;
    }

    .question_left {
        max-width: 100%;
        margin-bottom: 0;
    }

    .question_right {
        display: none;
    }
}

@media (max-width: 1024px) {
    section {
        margin-top: 60px;
    }

    .arrow {
        background-image: url('images/circle.svg');
    }

    .tab_buttons {
        margin-top: 30px;
    }

    .heading {
        position: relative;
    }
    
    .heading::after {
        content: url('images/plus.svg');
        display: block;
        height: 25px;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .heading.active::after {
        content: url('images/minus.svg');
        display: block;
        height: 25px;
    }

    .header_container {
        display: none;
    }

    .header_mobile {
        display: block;
        position: relative;
    }

    .header_mobile-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 38px;
        padding-top: 10px;
        transition: all .5s ease-in-out;
    }

    .header_mobile-top.active {
        background-color: #fff;
    }

    .header_mobile .logo_jenbacher {
        max-width: 120px;
        width: 100%;
        height: 40px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .header_mobile .burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        border-top: 1px solid var(--color-gray);
        transition: all .5s ease; 
    }

    .header_mobile .burger::before,
    .header_mobile .burger::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: var(--color-gray);
        transition: all .5s ease;       
    }

    .header_mobile .burger::before {
        top: 9px;
    }

    .header_mobile .burger::after {
        bottom: 0px;
    }

    .header_mobile .burger.active {
        border-top-color: transparent;
    }

    .header_mobile .burger.active::before {
        top: 8px;
        transform: rotate(45deg);
    }

    .header_mobile .burger.active::after {
        top: 8px;
        transform: rotate(-45deg);
    }

    .header_mobile-menu {
        background-color: #fff;
        margin-top: 0px;
        height: auto;
        max-height: 0px;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    .header_mobile-menu.active {
        padding: 30px 0;
        max-height: 1000px;
    }

    .header_mobile-menu .search,
    .header_mobile-menu .button {
        display: none;
    }

    .header_mobile-menu_list {
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 1px solid var(--color-lightgray);
        border-bottom: 1px solid var(--color-lightgray);
        font-size: 18px;
        font-weight: bold;
        display: grid;
        row-gap: 20px;
    }   

    .header_mobile-menu_list > li {
        line-height: 25px;
    }

    .header_menu-menu_dropdown {
        height: auto;
        max-height: 0;
        overflow: hidden;
        transition: all 1s ease-in-out;
        font-size: 14px;
        font-weight: normal;
        display: grid;
        row-gap: 10px;        
    }

    .header_mobile-menu_list > li.active .header_menu-menu_dropdown {
        max-height: 300px;
        padding-top: 10px;
    }

    .header_mobile-contacts {
        display: grid;
        align-items: center;
        justify-content: center;
        row-gap: 30px;
        padding: 30px 0;
    }

    .header_mobile-contacts .button {
        margin: auto;
    }

    .advantages_slider {
        max-width: 900px;
    }

    .advantages_nav {        
        z-index: 1;
    }

    .footer_top {
        flex-direction: column;
        row-gap: 20px;
    }

    .footer_top-column {
        row-gap: 20px;
        max-width: 100%;
    }

    .footer_top-column:first-child {
        align-items: center;
        border-bottom: 1px solid #30454E;
        padding-bottom: 20px;
        margin-bottom: 5px;
    }

    .footer_menu-menu_dropdown {
        margin-top: 0px;
        max-height: 0px;
        height: auto;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    .heading.active .footer_menu-menu_dropdown {
        margin-top: 10px;
        max-height: 500px;
    }

    .footer_contacts {
        padding-top: 30px;
        margin-top: 10px;
        border-top: 1px solid #30454E;
        justify-content: center;
    }

    .footer_top .phone, 
    .footer_top .email,
    .footer_top .social {
        align-self: center;
    }

    .footer_bottom {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        row-gap: 20px;
    }
    
}

@media (max-width: 690px) {
    .wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .caption h2 {
        font-size: 20px;
        padding-left: 14px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    
    .caption h2::before {
        width: 7px;
    }

    .header_mobile-top .button {
        display: none;
    }

    .header_mobile-menu .button {
        display: block;
    }

    .banner_slider_container {
        height: 600px;
    }

    .banner_slider-item {
        height: 600px;
    }

    .banner_info-sub {
        width: 595px;
        height: 330px;
        top: 150px;
        left: -10px;
    }

    .banner_info h2 {
        font-size: 25px;
    }

    .banner_info p {
        font-size: 16px;
    }    

    .banner_info .button {
        margin-top: 20px;
    }

    .banner_slider-switch {
        bottom: 40px;
        width: calc(100% - 20px);
    }

    .banner_slider-switch .current_slide {
        font-size: 30px;
    }

    .advantages-main {
        top: -20px;
        margin-bottom: -20px;
    }

    .advantages_nav {
        width: calc(100% - 20px);
    }

    .advantages_slider {
        max-width: 380px;
    }

    .tab_buttons button {
        width: 100%;
    }

    .product_table {
        padding: 30px 10px;
    }

    .product_table::before {
        display: none;
    }

    .product_table-head {
        margin-bottom: 20px;
    }

    .product_table .dots {
        display: none;
    }
    
    .product_table ul {
        row-gap: 20px;
        margin-bottom: 20px;
    }

    .product_table li {
        flex-direction: column;
    }

    .product_table li .second_column {
        text-align: left;
        max-width: 100%;
    }

    .usage {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .usage_content {
        padding: 30px 10px;
    }

    .usage_content ul {
        grid-template-columns: 100%;
        font-size: 14px;
        padding: 30px 0;
    }

    .usage_content-buttons {
        grid-template-columns: 100%;
        justify-items: center;
        row-gap: 20px;
    }

    .service_content-slider {
        height: 580px;
    }

    .service_card.show {
        padding: 0 10px;
    }

    .service_card.active {
        padding: 20px 10px 30px;
        height: 450px;
    }

    .service_card.active::before {
        min-width: 170px;
    }

    .service_card-link {
        justify-content: flex-start;
        margin-bottom: 30px;
    }

    .service_card-text {
        height: 280px;
    }

    .service_content-nav {
        padding: 0;
    }

    .service_advantages {
        flex-direction: column;
        row-gap: 20px;
    }

    .service_advantages li {
        max-width: 100%;
        height: 60px;
    }

    .partners_slide {
        padding: 30px 10px;
    }

    .partners_slider-nav {
        top: -20px;
    }

    .projects_content {
        height: 400px;
    }

    .question_content form {
        row-gap: 10px;
    }

    .form_row {
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .question_content .button {
        margin: auto;
    }

    .logo_footer {
        width: 75px;
        height: 100px;
    }

    .logo_jenbacher_footer {
        width: 120px;
        height: 40px;
    }

    .footer_drop-menu {
        font-size: 14px;
    }

    .footer_drop-menu > a {
        font-size: 18px;
    }
}

@media (max-width: 460px) {
    .header_mobile-top .search {
        display: none;
    }

    .header_mobile-menu .search {
        display: block;
        margin-bottom: 30px;
    }

    .advantages_nav {
        width: 100%;
        left: 0;
    }
}

@supports not (backdrop-filter: blur()) {
	.usage_content {
        background: rgba(88, 118, 163, 0.9);
    }

    .banner_info-sub .line {   
        background: rgba(238, 251, 255, 0.9);       
    }
}